@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/Noto_Serif/NotoSerifDisplay_Condensed-Black.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Meddon";
  src: url("/fonts/Meddon/Meddon-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
