// *** colors ****

$primary-color: #fff6ea;
$secondary-color: #b2967d;
$text-color: rgba(44, 44, 44, 0.78);
$accent-green: #628a8b;
$accent-color: #ef1a9d;

//***fonts***
$font-regular: 400;
$font-demi: 600;
$font-bold: 700;

//***breakpoints***
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
