.landing-page {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  flex-direction: column;
  &__text {
    padding: 1rem 1.25rem;
    h1,
    p {
      padding-bottom: 0.625rem;
    }
  }
}
